<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Amstrong Number Finder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-item lines="none" style="border: 2px solid black;border-radius: 2vh;margin: 10vh 2vh 2vh;">
   <ion-label>Enter number</ion-label>
   <ion-input type="number" [(ngModel)]="number"></ion-input>
 </ion-item>
 <ion-row>
  <ion-col col-6>
    <ion-button style="margin-left: 2vh;" shape="round" expand="block" (click)="findAmstrongNumber()">Find</ion-button>
  </ion-col>
  <ion-col col-6>
    <ion-button style="margin-right: 2vh;" shape="round" expand="block" (click)="resetValue()">Reset</ion-button>
  </ion-col>
</ion-row>

<ion-item *ngIf="flag==1">
  <ion-col size="3" style="text-align: right;">{{amstrongNumber}}</ion-col>
  <ion-col size="9" style="text-align: left;">This is amstrong number</ion-col>
</ion-item>
<ion-item *ngIf="flag==2">
  <ion-col size="9" style="text-align: right;">Closest lower amstrong number : </ion-col>
  <ion-col size="3" style="text-align: left;">{{lowerNumber}}</ion-col>
</ion-item>
<ion-item *ngIf="flag==2">
  <ion-col size="9" style="text-align: right;">Closest higher amstrong number : </ion-col>
  <ion-col size="3" style="text-align: left;">{{upperNumber}}</ion-col>
</ion-item>
</ion-content>
<ion-footer  *ngIf="flag==2 ||flag==1" style="padding: 3vh 2vh 3vh 2vh;">
  <ion-col size="6" style="text-align: right;font-size: 0.9rem;">Execution time : </ion-col>
  <ion-col size="6" style="text-align: left;font-size: 0.9rem;">{{executionTime}}</ion-col>
</ion-footer>
